.app {
  text-align: center;
  font-family: Arial, Helvetica, Verdana, sans-serif;
  background-color: #f8f5f3;
  max-width: 582px;
  padding: 2px;
  margin: 15px;
}

.inner-border {
  background-color: transparent;
  border: 7px solid #fff;
}

/* ----------------------------------*/
.hotel-slide {
  background-color: #ba0b2f;
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr;
  grid-template-rows: 80px;
  color: #fff;
}

.prev-hotel {
  cursor: pointer;
  position: relative;
  background-color: transparent;
  padding: 20px;
  color: white;
  font-size: 35px;
  transition: 0.6s ease;
  border: none;
  outline: none;
  left: 0;
}

.hotel-location {
  text-transform: uppercase;
  font-size: 28px;
  font-weight: bold;
  padding: 9% 0 0 15%;
}

.date-range {
  font-weight: bold;
  padding: 33px;
  font-size: 18px;
}

.hotel-name {
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;
  margin: 40px 0 10px 30px;
  text-align: left;
  color: #3c3c4a;
}

.hotel-address {
  font-size: 21px;
  margin: 5px 0 10px 30px;
  text-align: left;
  color: #3c3c4a;
}

.hotel-details {
  display: table;
  margin: 40px 0 40px 30px;
}

.hotel-details > a {
  color: #3c3c4a;
  background-color: transparent;
  border-radius: 28px;
  border: 2px solid #dcdcdc;
  cursor: pointer;
  font-size: 17px;
  padding: 12px 31px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 20px;
}

.hotel-details > button:hover {
  background-color: #fff;
}

.button-holder {
  position: relative;
  top: -30px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}
