.hotel-name {
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;
  margin: 40px 0 10px 30px;
  text-align: left;
  color: #3c3c4a;
}

.hotel-address {
  font-size: 21px;
  margin: 5px 0 10px 30px;
  text-align: left;
  color: #3c3c4a;
}

.hotel-details {
  display: table;
  margin: 40px 0 40px 30px;
}

.hotel-details > a {
  color: #3c3c4a;
  background-color: transparent;
  border-radius: 28px;
  border: 2px solid #dcdcdc;
  cursor: pointer;
  font-size: 17px;
  padding: 12px 31px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 20px;
}

.hotel-details > button:hover {
  background-color: #fff;
}
