.hotel-images-slideshow-container {
  position: relative;
}

.hotel-image-slide {
  width: 100%;
  height: 100%;
}

.hotel-image-slide > img {
  width: inherit;
}

.prev-hotel-img,
.next-hotel-img {
  cursor: pointer;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  color: #1b1a1a;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  font-weight: bolder;
  font-size: 18px;
  transition: 0.6s ease;
  border: none;
  user-select: none;
  outline: none;
}

.prev-hotel-img {
  left: 0;
  border-radius: 0 3px 3px 0;
}

.next-hotel-img {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev-hotel-img:hover,
.next-hotel-img:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
}
