.room-row {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  background-color: #fff;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.32);
  border-radius: 7px 7px 7px 7px;
}

.room-info {
  padding: 35px;
  display: block;
  font-weight: bold;
  font-size: 17px;
}

.room-name {
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 8px;
}

.room-price {
  display: inline-block;
  position: relative;
  float: left;
  border-radius: 20px 20px 20px 20px;
  background-color: #ba0b2f;
  color: #fff;
  padding: 5px 12px;
}
