.room-slideshow-container {
  position: relative;
}

.room-slide {
  width: 100%;
  height: 100%;
}

.room-image {
  width: 100%;
  height: 100%;
  border-radius: 7px 0px 0px 7px;
}

.prev-room,
.next-room {
  cursor: pointer;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bolder;
  font-size: 18px;
  transition: 0.6s ease;
  border: none;
  user-select: none;
  outline: none;
}

.next-room {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev-room {
  left: 0;
  border-radius: 0 3px 3px 0;
}

.prev-room:hover,
.next-room:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: #1b1a1a;
  border: none;
}
